.li{
    display: flex;
    justify-content: space-between;
    font-style: italic;
}
.price{
    padding: 1.5rem;
    font-style:normal;
    /* color:  rgb(248, 174, 77); */
    font-weight: 700;
}

.div{
    margin-left: 18px;
    margin-top: 5px;
}